{% extends "tutorialsite/base.html" %}

{% block sidebar %}
<div class="col-4 col-md-4 col-xl-3 bd-sidebar">
   <div class="title"><b>Table of contents:</b></div>
   <hr>
   <nav class="bd-links" id="bd-docs-nav">
      {% for tag in Tag %}
      <div class="bd-toc-item">
         <span class="tag">{{ tag.name }}:</span>
         <ul class="nav bd-sidenav">
            {% for post in tag.posts.all %}
            <li class="ml-3" type="circle"><a href="{% url 'exercise_list' pk=post.pk %}">{{ post.title }}</a></li>
            {% endfor %}
         </ul>
      </div>
      <hr>
      {% endfor %}
   </nav>
</div>
{% endblock sidebar %}